<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <style>
    </style>
    <div class="d-flex justify-content-center">
        <div class="card col-xl-4 col-md-4 col-12 ">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfpujoaPhYQbfuX3PJGS106MZZbHM6Lea-gN6cxXZn5pAB3og/viewform?embedded=true"
                width="640" height="685" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">
            </iframe>
        </div>
    </div>
</body>

</html>