<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Opportunities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <style>
        .card {
            margin-top: 80px;
        }

        .btn {
            width: 200px;
        }
    </style>
    <div class="d-flex justify-content-center">
        <div class="card col-xl-4 col-md-4 col-12 mx-5">
            <div class="head d-flex justify-content-center my-3">
                <h2>Get Your Free Access</h2>
            </div>
            <!-- <div class="row"> -->
            <!-- <div class="col mx-5 my-3 d-flex justify-content-center"> -->
            <div class="form-group d-flex justify-content-center my-3">
                <button type="button" class="btn btn-outline-dark" style="width: 300px;">Continue with Google</button>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!-- <div class="col mx-5 my-3 d-flex justify-content-center"> -->
            <div class="form-group d-flex justify-content-center my-3">
                <button type="button" class="btn btn-outline-dark" style="width: 300px;">Continue with Apple</button>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <p class="d-flex justify-content-center">OR</p>

            <div class="form-group mx-5 my-3 d-flex justify-content-center my-3">
                <input type="email" placeholder="Work email address" style="width: 300px;" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary my-3">Continue with Email</button>
            </div>

        </div>
    </div>






</body>

</html>