<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Freelance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Freelance</a>
        </div>
    </nav>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-4 col-lg-4 col-12" style="margin-top: 100px;">
            <div class="card p-3">
                <h5 class="d-flex justify-content-center">Freelancers For Hire</h5>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search for freelancers"
                            aria-label="Search for freelancers" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                                class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <div class="input-group">
                        <select class="form-select" id="inputGroupSelect04"
                            aria-label="Example select with button addon">
                            <option selected>Select a category of work</option>
                            <option value="1">Websites IT & Software</option>
                            <option value="2">Mobile</option>
                            <option value="3">Writing</option>
                            <option value="4">Design</option>
                            <option value="5">Sales & Marketing</option>
                            <option value="6">Local Jobs & Services</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 my-3">
                        <input type="text" class="form-control" placeholder="Skills" aria-label="Skills"
                            aria-describedby="button-addon2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12" style="margin-top: 100px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SkyHawksFusion</h5>
                    <p class="card-text">PHP, Website Design, WordPress, Graphic Design, Magento
                        Hi, We are a small team of Developers, Designers, SEO experts, and Server professionals. We
                        specialize in providing Customized Web and Mobile Solutions. Clear communication throughout the
                        project is guaranteed.</p>
                    <a href="#" class="btn btn-dark">Hire me</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">akinfotech119</h5>
                    <p class="card-text">Website Design, Shopify, PSD to HTML, Banner Design, Graphic Design
                        /Invision/Sketch/AI to HTML5, CSS3 &gt; Bootstrap3/4, SASS/SCSS, Jquery,
                        54c5107cb9Javascript429fc3fc95 &gt; Email Newsletter for Mailchimp, Campaign monitor &gt; Email
                        signature for Gmail/Outlook/IOS ** BackEnd: &gt</p>
                    <a href="#" class="btn btn-dark">Hire me</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> diama64</h5>
                    <p class="card-text">HTML, WordPress, PHP, CSS, Website Design
                        free to get in touch for an initial consultation. Some of the technologies I have great
                        experience with: - HTML, CSS, HTML5, CSS3 - 54c5107cb9Javascript429fc3fc95, jQuery
                        -Wordpress,Drupal,Joomla,Shopify,Magento - MySQL</p>
                    <a href="#" class="btn btn-dark">Hire me</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">uhjk</h5>
                    <p class="card-text">PHP, HTML, Web Scraping, WordPress, MySQL
                        I've been on internet since 1996. I always tried to do something with programming. Started with
                        mirc scripting, then created my own websites (I had 1500+ websites when it was 2005) and earned
                        a lot of money with domain parking and google adsense. Since I was not so good with programming,
                        I was asking help from other...</p>
                    <a href="#" class="btn btn-dark">Hire me</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>