<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Talent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Freelance</a>
        </div>
    </nav>

    <div class="row d-flex justify-content-center">
        <div class="col-xl-8 col-lg-8 col-12" style="margin-top: 100px;">
            <h1 class="d-flex justify-content-center">What do you need done ?</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ex. Build responsive WordPress"
                    aria-label="Search for freelancers" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </div>
            <p class="d-flex justify-content-center">Get inspired by starting with a category</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Development & IT</button>
            </div>
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Design & Creative</button>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Sales & Marketing</button>
            </div>
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Writing & Translation</button>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Admin & Customer Support</button>
            </div>
            <div class="col-lg-4 col-xl-4 col-12 my-3">
                <button type="button" class="btn btn-outline-dark btn-lg w-100 py-3">Finance & Accounting</button>
            </div>
        </div>
    </div>
</body>

</html>